dist/sbol-viewer.js*
dist/*.html
src
tests
.idea
public/SBOL_examples
node_moduels
public/*.png
public/*.png
public/*.html
.eslintrc.json
babel.config.js
package-lock.json
vue.config.js
sbolviewer-v*.tgz
public/demo.json
public/favicon.ico
public/sbol_viewer_demo.gif